@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700;800&display=swap');

:root {
  // colors
  --white-color: #ffffff;
  --green-color: #71c583;
  --yellow-color: rgb(255, 232, 74);
  --yellow-dark-color: rgb(255, 218, 75);

  // colors for element
  --text-color: #212222;
  --layout-color: #f6f6f6;
  --header-color: var(--white-color);
  --space-color: #eceff1;
  --border-color: #d0d7de;
  --penalty-color: #e0817a;
}

// fonts
$karla-font: 'Karla', sans-serif;
$spoqa-font: 'Spoqa Han Sans Neo', sans-serif;
$font-family: 'Spoqa Han Sans Neo', 'Karla', sans-serif;

$white: var(--white-color);
$green: var(--green-color);
$yellow: var(--yellow-color);
$yellow-dark: var(--yellow-dark-color);

$text-color: var(--text-color);
$layout-color: var(--layout-color);
$header-color: var(--header-color);
$space-color: var(--space-color);
$border-color: var(--border-color);
$penalty-color: var(--penalty-color);

$box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
// $box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;