@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700;800&display=swap');

:root {
  // colors
  --white-color: #ffffff;
  --green-color: #71c583;

  // colors for element
  --text-color: #212222;
  --header-color: var(--white-color);
  --space-color: #eceff1;
  --border-color: #d0d7de;
}

// fonts
$karla-font: 'Karla', sans-serif;
$spoqa-font: 'Spoqa Han Sans Neo', sans-serif;
$font-family: 'Spoqa Han Sans Neo', 'Karla', sans-serif;

$white: var(--white-color);
$green: var(--green-color);

$text-color: var(--text-color);

$header-color: var(--header-color);
$space-color: var(--space-color);
$border-color: var(--border-color);